.checkoutContainer{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.productsCheckout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.productsCheckout .productsCheckoutUnity{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    width: 350px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.productsCheckout .productsCheckoutUnity .productCheckoutData{
    margin: 0px 10px;
}

.productsCheckout .productsCheckoutUnity img{
    width: 100px;
}

.checkoutContainer form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.checkoutContainer form .MuiFormControl-root{
    margin: 10px 0px;
}

@media screen and (max-width: 800px){
    .checkoutContainer{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}