.productHome{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productHome img{
    animation: float 5s infinite;

}

@keyframes float {
    15% {
    transform: translateY(5px);
    }
    30% {
    transform: translateY(-5px);
    }
    50% {
    transform: translateY(3px);
    }
    65% {
    transform: translateY(-3px);
    }
    80% {
    transform: translateY(2px);
    }
    100% {
    transform: translateY(0);
    }
}

.productHome .moreData{
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: goldenrod;
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
}